* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 2rem 4rem;
    gap: 20px;
    align-items: center;
}

ul {
    width: fit-content;
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    align-items: center;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 0 1rem;
    font-weight: bold;
}

.header-shop-buttons button {
    margin: 0 1.6rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

main {
    padding: 1rem 4rem;
}

main h2 {
    margin-bottom: 1rem;
}

.shop-items-section {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
}

.item-card {
    display: grid;
    place-content: center;
}

.item-card img {
    width: 300px;
}

.item-card h3 {
    font-weight: 600;
    margin: 10px 0;
    font-size: 1.4rem;
}

.item-card p span {
    margin-right: 5px;
    font-weight: bold;
}

.item-card .regular-price {}

.item-card .regular-price-with-sale {
    opacity: .8;
    text-decoration: line-through;
    font-size: smaller;
}

.item-card .sale-price {
    color: red;
    font-size: 1.1rem;
}